<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{post.title}}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}/static/css/article.css">
</head>
<body class="article" style="align-content: center;">
    <div class = "header-article">

        <p class="article-back"><img src="https://a.d-cd.net/zGEcdRDdL9_Q_wFm9p1nBvDdfJ8-1920.jpg" style="width: 300px; height:
300px;"><a href="/">Все статьи</a></p>
    </div>
    <div class="one-post">
        <h2 class="post-title">{{ post.title }}</h2>
        <div class="article-info">
            <div class="article-author">Author: {{ post.author.username }}</div>
            <div class="article-created- date">{{ post.created_date }}</div>
        </div>
            <p class="article-text">{{ post.text }}</p>
    </div>
</body>
</html>