<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выбор категории теста</title>
</head>
<body>
    <h1>Выберите категорию тестов:</h1>
    <form action="{% url 'quiz' %}" method="get">
        <select name="gfg">
            <option value="">Выбрать</option>
            {% for category in categories %}
                <option value="{{ category.gfg_name }}">{{ category.gfg_name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Выбрать</button>
    </form>
</body>
</html>

