<!DOCTYPE html>
<html lang="en">
<head>
    {% csrf_token %}
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
    <form method="post">
        <!-- Не включаем CSRF токен -->
        {% for question in questions %}
            <h3>{{ question.question_text }}</h3>
            {% for choice in question.choice_set.all %}
                <input type="radio" name="{{ question.id }}" value="{{ choice.id }}"> {{ choice.choice_text }}<br>
            {% endfor %}
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</body>
</html>