<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тесты</title>
</head>
<body>
    <h1>Тесты в категории "{{ selected_category }}":</h1>
    <form action="{% url 'result' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="gfg" value="{{ selected_category }}">
        {% for question in questions %}
            <h3>{{ question.question }}</h3>
            {% if question.question_type == 'MCQ' %}
                {% for answer in question.get_answers %}
                    <input type="checkbox" name="{{ question.uid }}" value="{{ answer.answer }}">
                    <label>{{ answer.answer }}</label><br>
                {% endfor %}
            {% else %}
                <textarea name="{{ question.uid }}"></textarea><br>
            {% endif %}
        {% endfor %}
        <button type="submit">Отправить ответы</button>
    </form>
</body>
</html>

