html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

body {
	font-family: Arial, sans-serif;
	background-image: url('../images/bg1.png');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

header {
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #cc000a;
	color: #fff;
	padding: 32px;
	width: 100%;
	text-align: left;
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	box-sizing: border-box; /* добавлено для учета padding */
}

.logo-container {
	width: 100px;
	height: 50px;
	background-image: url('../images/Logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 275px;
	margin-top: -45px;
}

h1 {
	margin: 0;
	font-size: 2.5em; /* использованы относительные единицы */
	padding-left: 16px;
	width: 50%;
}

h4 {
	font-size: 0.75em; /* использованы относительные единицы */
	position: absolute;
	top: 22px;
	left: 380px;
}

.auth-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 16px; /* добавлено для отступа от края окна */
	box-sizing: border-box; /* добавлено для учета padding */
}

.auth-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 800px;
	padding: 16px;
	box-sizing: border-box; /* добавлено для учета padding */
	background-color: rgba(255, 255, 255, 0.9); /* добавлен фон для читаемости */
	border-radius: 8px; /* добавлен скругленный угол */
}

h2 {
	font-size: 2em; /* использованы относительные единицы */
	margin-top: 0;
	margin-bottom: 24px;
	text-align: center;
	width: 100%;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

input[type='text'],
input[type='password'] {
	width: 100%;
	max-width: 600px;
	padding: 20px;
	margin-bottom: 24px;
	border: 2px solid transparent;
	background-color: #7c82a2;
	font-size: 1em; /* использованы относительные единицы */
}

input[type='text']:focus,
input[type='password']:focus {
	outline: none;
	border-color: #7c82a2;
}

::-webkit-input-placeholder {
	color: #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-text-fill-color: #ffffff;
	transition: background-color 5000s ease-in-out 0s;
}

button {
	width: 100%;
	max-width: 600px;
	padding: 20px;
	background-color: #e43232;
	border: none;
	color: #fff;
	font-size: 1em; /* использованы относительные единицы */
	transition: background-color 0.3s, transform 0.3s, color 0.3s;
}

button:hover {
	background-color: #000;
	color: #fff;
	border-color: #000;
	opacity: 0.9;
	cursor: pointer;
	transform: scale(1.05);
}

.messages {
	margin-top: 32px;
	list-style-type: none;
	padding: 0;
	width: 100%;
	max-width: 800px;
}

.messages li {
	background-color: #ffdddd;
	color: #a94442;
	padding: 16px;
	margin-bottom: 16px;
	border: 1px solid #a94442;
}

/* Media Queries для адаптации к меньшим экранам */
@media (max-width: 768px) {
	h1 {
		font-size: 2em;
	}

	h4 {
		font-size: 0.5em;
		left: 20px;
	}

	.auth-container {
		padding: 8px;
	}

	input[type='text'],
	input[type='password'],
	button {
		max-width: 100%;
	}

	button {
		font-size: 0.8em;
	}
}

@media (max-width: 480px) {
	h1 {
		font-size: 1.5em;
	}

	h4 {
		font-size: 0.4em;
		left: 10px;
	}

	h2 {
		font-size: 1.5em;
	}

	input[type='text'],
	input[type='password'],
	button {
		padding: 12px;
		font-size: 0.8em;
	}
}
