<!DOCTYPE html>
{% load static %}
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Материалы</title>
		<link
			rel="icon"
			href="{% static 'main/images/Logo.png' %}"
			type="image/x-icon"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'main/css/materials.css' %}"
		/>
	</head>
	<body>
		<div class="header">
			<div class="header-left">
				<div class="footer-text footer-text-1">Белый Раст</div>
				<div class="logo-container"></div>
				<div class="footer-text footer-text-2">
					Терминально-<br />логический центр
				</div>
			</div>
			<h1>Материалы</h1>
			<div class="header-right">
				<a href="http://127.0.0.1:8000/account/" class="btn-custom"
					>Вернуться в личный кабинет</a
				>
				{% if request.user.profile.is_manager %}
				<a href="{% url 'admin:index' %}" class="btn-custom">В админку</a>
				{% endif %}
				<a href="http://127.0.0.1:8000/" class="btn-custom">Выйти</a>
			</div>
		</div>
		<div class="card-container">
			{% for document in documents %}
			<div class="card">
				{% if document.image %}
				<img
					src="{{ document.image.url }}"
					class="card-img-top"
					alt="Изображение для {{ document.title }}"
				/>
				{% endif %}
				<div class="card-body">
					<h5 class="card-title">{{ document.title }}</h5>
					<a href="{{ document.file.url }}" class="btn btn-primary" download
						>Скачать</a
					>
				</div>
			</div>
			{% endfor %}
		</div>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
