body {
	background-image: url('../images/bg5.png');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	color: #000;
	font-family: Arial, sans-serif;
	margin: 0;
	min-height: 100vh;
	font-weight: bold;
	position: relative;
	zoom: 1;
}

.header {
	background-color: #cc000a;
	width: 100%;
	height: 80px;
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
}

.logo-container {
	width: 50px;
	height: 50px;
	background-image: url('../images/Logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin: 0 20px;
}

.header h1 {
	margin: 0;
	color: white;
}

.header a {
	color: white;
	text-decoration: none;
}

.profile-container {
	background-image: url('../images/11.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 20px;
	border-radius: 10px;
	width: 1200px; /* фиксированный размер */
	height: 800px; /* фиксированный размер */
	margin-top: 100px;
	margin-bottom: 100px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	color: #000;
	font-family: Arial, sans-serif;
	text-align: center;
	overflow: hidden;
	position: relative;
}

.profile-details-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 240px;
}

.profile-detail {
	padding: 10px;
	border-radius: 5px;
	margin: 5px 0;
}

.avatar-container {
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	width: 200px;
	height: 200px;
	overflow: hidden;
	border-radius: 50%;
	border: 5px solid #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.avatar-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.btn-custom {
	background-color: #cc000a;
	color: #fff;
	text-decoration: none;
	border: none;
	border-radius: 5px;
	padding: 12px 24px;
	margin: 0 5px;
	transition: background-color 0.3s ease, transform 0.2s ease,
		box-shadow 0.2s ease;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
}

.btn-custom:hover {
	background-color: black;
	transform: scale(1.05);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.last-name,
.first-name,
.patronymic {
	position: absolute;
	bottom: 20px;
	left: 20px;
	font-size: 24px;
	font-weight: bold;
	color: white;
}

.last-name {
	bottom: 65px;
}

.first-name {
	bottom: 95px;
}

.patronymic {
	bottom: 35px;
}

.position,
.manager {
	position: absolute;
	right: 20px;
	text-align: right;
	font-size: 16px;
	font-weight: bold;
	color: white;
}

.position {
	bottom: 50px;
}

.manager {
	bottom: 20px;
}

.phone,
.username,
.email {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin-top: 10px;
}

.footer {
	background-color: #cc000a;
	color: white;
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: 0;
	left: 0;
	padding: 0 20px;
}

.footer .footer-text {
	font-size: 16px;
	margin: 0 10px;
}

.footer .footer-text-1 {
	font-size: 34px;
}

.footer .footer-text-2 {
	font-size: 12px;
	text-align: left;
}

.footer .logo-container {
	width: 50px;
	height: 50px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('../images/Logo.png');
}
