header {
    background-color: #000000; /* Красный цвет фона */
    color: #fff; /* Цвет текста */
    padding: 50px; /* Внутренние отступы */
    text-align: center; /* Выравнивание текста по центру */
}
h1 {
    margin: 0; /* Убираем отступы вокруг заголовка */
}